/* Add your custom styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, nav, section, footer {
  padding: 20px;
}

nav ul {
  list-style-type: bold;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: italic;
  color: #a80e0e;
}

footer {
  background-color: #f5f5f5;
  text-align: center;
}